<div class= "conteiner">
<div class="jumbotron">
    <h1 class="display-3">Musical Center Red Moon!</h1>
    <p class="lead">El principio que nos ha llevado a la creación de Música y Persona se fundamenta en la convicción de que la Música aporta grandes beneficios al ser humano y que su poder formativo es capaz de transformar a la persona y al conjunto de la sociedad para la construcción de un futuro más humano y más justo. A edades tempranas es además una poderosa herramienta para el crecimiento intelectual y el desarrollo de las inteligencias múltiples. Es también un elemento motivador y sobre todo, una constante invitación a la interiorización y la creatividad. La música ayuda a formar personas libres, coherentes y felices, une a las comunidades y contribuye al diálogo y la paz en un mundo que nuestros niños deben aprender a liderar con iniciativa, compromiso y creatividad.</p>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col col-lg-5">
      <h5><a href= ""routerLink="/descuentos">!!!!!DESCUENTOS!!!!!</a></h5>
      <p>Entra aqui y conoce todos los increibles descuentos que Musical Center Reed Moon tiene para ti</p>
      </div>
      <div class="col-md-7">
          <h5>PUBLICIDAD</h5>
          <img src="img/publicidad.jpg">
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
          <h5><a href= ""routerLink="/eventos">EVENTOS DE TIENDA</a></h5>
      </div>
    </div>
  </div>

          
    
