<div class="conteiner">
    <div class="row  justify-content-md-center bg-light">
      <h1>Noticias del mundo de la musica</h1>
      </div>
    </div>
  <div class="row">
      <div class="col-md-4">
        <h2>Ariana Grande Lanza cancion sobre Mac Miller</h2>
        <p><img src="img/Noticia1.jpg">  </p>
        <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Maluma celebra sus 25 años</h2>
        <p><img src="img/Noticia2.jpg"> </p>
        <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
     </div>
      <div class="col-md-4">
        <h2>Gloria Trevi en concierto</h2>
        <p><img src="img/Noticia3.jpg"></p>
        <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
      </div>
    </div>
    <p>
    </p>
    <div class="row">
        <div class="col-md-4">
          <h2>La primera cancion de Selena Gomez tras salir del psiquiatra</h2>
          <p><img src="img/Noticia4.jpg">  </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Billy Idol viene a Mexico</h2>
          <p><img src="img/Noticia5.jpg"> </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Thalia se disfrasa d ela muñeca mas sexy de la musica</h2>
          <p><img src="img/Noticia6.jpg"></p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
      </div>
