<div class="conteiner">
  <div class="row  justify-content-md-center bg-light">
    <h1>GUITARRAS</h1>
    </div>
  </div>
<div class="container">
      <div class="row">
      <div class="col-md-6">
        <h2><p class="text-danger ">50 % de descuento!!!</p></h2>
      <br><img src="img/descuento1.jpg"></div>
      <div class="col-md-6">
      <h2><p class="text-danger">10 % de descuento!!!</p></h2>
      <br><img src="img/descuento1.jpg"></div>
    </div>
    </div>
    <div class="conteiner">
        <div class="row  justify-content-md-center bg-light">
          <h1>ACCESORIOS</h1>
          </div>
        </div>
      <div class="container">
            <div class="row">
            <div class="col-md-6">
              <h2><p class="text-danger">5 % de descuento!!!</p></h2>
            <br><img src="img/descuento1.jpg"></div>
            <div class="col-md-6">
            <h2><p class="text-danger">10 % de descuento!!!</p></h2>
            <br><img src="img/descuento1.jpg"></div>
          </div>
          </div>
      <ul class="pagination justify-content-md-center ">
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">&raquo;</a>
        </li>
      </ul>

