<div class="row">
    <div class="col-md-8">
        <h2>Concierto de Noche</h2>
        <p>Esta Semana en Musical Center Red Moon, la artista del momento desde Paztcuaro Michoaca, Lupita Gomez con unas hermosas canciones, de sus composiciones originales, y su toque de gran artista en los isnturmentos </p>
      </div>
    <div class="col-md-4">
      <p><img src="img/Evento1.jpg"> </p>
   </div>
  </div>
  <div class="row">
      <div class="col-md-8">
          <h2>Curso de Guitarra por 4 horas</h2>
          <p>El Viernes 01 de Marzo del año en curso, estara en las instalaciones de Musical Center Red Moon, el famoso Virlan Garcia, dando de manera gratuita un curso d eguitarras que tendra una duracion de 4 horas, para todas las personas que desen asistir, para aprender truquitos de guitarra, y conocer al gran famoso, y todo totalmente gratis</p>
      </div>
      <div class="col-md-4">
        <p><img src="img/Evento2.jpg"> </p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-8">
        <h2></h2>
        <h2>Exposicion de guitarras de los años 1980-1990</h2>
        <p> Este mes nos engalanamos con una gran exposicion de las guitarras Gibson mas bonitas y antiguas con las que s ecuentan en todas las sucursales, guitarras de expocion, una muestra super popular y hermosa, ven y admira todas estas hermosuras, y puedes adquirir algunas en precios muy baratos.</p>
        </div>
        <div class="col-md-4">
          <p><img src="img/Evento3.jpg"> </p>
        </div>
      </div>